/* hide language dropdown */
.k-site-view.singleLanguage .k-header .k-dropdown,
.k-page-view.singleLanguage .k-header .k-dropdown:nth-of-type(2),
.k-user-view.singleLanguage .k-header .k-dropdown:nth-of-type(2) {
    display: none;
}

/* hide draft option */
.hideDraftOption .k-field-name-status .k-radio-input > li:first-child {
    display: none;
}

/* hide settings dropdown */
.k-page-view.hideSettings .k-header .k-dropdown:nth-of-type(1), /* top menu */
.k-card.hideSettings .k-card-options-button, /* card */
.k-list-item.hideSettings .k-list-item-toggle /* list-items */
{
    display: none;
}

/* hide status flag */
.k-page-view.hideStatus header .k-status-flag, /* top menu */
.k-list-item.hideStatus .k-status-flag, /* list-items */
.k-card.hideStatus .k-status-flag /* card */
{
    display: none;
}

/* hide header buttons */
.k-page-view.hideOptions .k-bar.k-header-buttons {
    display: none;
}