/* hide language dropdown */
.k-site-view.singleLanguage .k-dropdown.languageSelector,
.k-page-view.singleLanguage .k-dropdown.languageSelector,
.k-user-view.singleLanguage .k-dropdown.languageSelector {
    display: none;
}

/* hide draft option */
.hideDraftOption .k-field-name-status .k-radio-input > li:first-child {
    display: none;
}

/* hide settings dropdown */
.k-page-view.hideSettings .k-header .k-dropdown:not(.languageSelector), /* top menu */
.k-card.hideSettings .k-card-options .k-card-options-button:not(.k-status-icon), /* card */
.k-list-item.hideSettings .k-list-item-toggle /* list-items */
{
    display: none;
}

/* hide status flag */
.k-page-view.hideStatus header .k-status-icon, /* top menu */
.k-list-item.hideStatus .k-status-icon, /* list-items */
.k-card.hideStatus .k-status-icon /* card */
{
    display: none;
}

/* hide header buttons */
.k-page-view.hideOptions .k-bar.k-header-buttons {
    display: none;
}
